<div class="container">
    <div class="jumbotron bg-dark">
        <h1>Eat the Burger</h1>
        <p class="lead text-light">Add a burger of your choice to the menu! Or Devour one that is already listed!</p>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <h2>Not Devoured</h2>
            <ul>
                {{#each burgers}}
                    {{#unless devoured}}
                        {{>burgers/burger-block devour=true}}
                    {{/unless}}
                {{/each}}
            </ul>
        </div>
        <div class="col-lg-6">
            <h2>Devoured</h2>
            <ul>
                {{#each burgers}}
                    {{#if devoured}}
                        {{>burgers/burger-block devour=false}}
                    {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
    <div class="row">
        <h2>Add a Burger</h2>
        <div class="col-lg-12">
            <form id="create-form">
                <div class="form-group">
                    <label for="burger-name">Burger Name:</label>
                    <input class="form-control" type="text" id="burger-name" name="burger_name" placeholder="Required">
                </div>
                <div class="form-group">
                    <label for='image-url'>Image Url:</label>
                    <input class="form-control" type='text' id="image-url" name="image_url" placeholder="Required">
                </div>
                <button class="btn btn-md btn-success submit-btn" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>
